./exploration/explored_apps
exploration/explored_apps/
**/explored_apps/
*/explored_apps/
./exploration/temp/*
**/temp/*
*/temp/*
**/*/temp/*
**/**/*/temp/*
**/*/explored_apps/
__pycache__/
**/__pycache__/
*/__pycache__/
**/*/__pycache__/
**/**/*/__pycache__/
api_logs/
**/api_logs/
*/api_logs/
**/*/api_logs/
**/**/*/api_logs/
temp_*
**/temp_*
*/temp_*
**/*/temp_*
**/**/*/temp_*
./explored_apps/*.jpeg
**/explored_apps/*.jpeg
*/explored_apps/*.jpeg
**/*/explored_apps/*.jpeg
**/**/*/explored_apps/*.jpeg
./exploration/*.jpeg
**/exploration/*.jpeg
*/exploration/*.jpeg
**/*/exploration/*.jpeg
**/**/*/exploration/*.jpeg
./inference/*.jpeg
**/inference/*.jpeg
*/inference/*.jpeg
**/*/inference/*.jpeg
**/**/*/inference/*.jpeg
inference/gui_demo/web/node_modules/
inference/gui_demo/web/dist/
inference/results/
inference/results*/
inference/logs/
